
 button {
  background-color: #efcca6;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
}

#home-svg:hover {
  color: #E97451;
}

#history-svg:hover {
  color: #E97451;
}

#logout-svg:hover {
  color: #E97451;
}
#about-svg:hover {
  color: #E97451;
}

#home-svg:active{
  transform: translate(2px, 2px);
}

#history-svg:active{
  transform: translate(2px, 2px);
}

#logout-svg:active{
  transform: translate(2px, 2px);
}

#about-svg:active{
  transform: translate(2px, 2px);
}

#logout-svg{
  color: #efcca6;
  margin-left: 30px;
  cursor: pointer;
  font-size: 32px;
  margin-right: 10px;
}

#about-svg{
  color: #efcca6;
  margin-left: 30px;
  cursor: pointer;
  font-size: 32px;

}

#home-svg{
  color: #efcca6;
  margin-left: 30px;
  cursor: pointer;
  font-size: 32px;
  margin-left: 70px;
}

#history-svg {  
  color: #efcca6;
  margin-left: 30px;
  cursor: pointer;
  font-size: 29px;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.username {
  background-color: #efcca6;
  font-size: 17px;
  font-weight: 500;
  color: #422800;
  padding: 4px 10px;
  padding-bottom: 0;
  border: 2px solid #422800;
  border-radius: 25px;
  margin-bottom: 3px;
}

div .navbar {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 320px;
  margin-left: 30px;
  margin-top: 7px;
}


.nav-btns {
  display: flex;
  justify-content: center; 

}

