
 button {
  background-color: #efcca6;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
}

.home-btn:hover {
  background-color: #E97451;
  color: white;
}

.history-btn:hover {
  background-color: #E97451;
  color: white;
}
.logout-btn:hover {
  background-color: #E97451;
  color: white;
}


button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.username {
  margin: 10px;
  color: #efcca6;
  font-size: 20px;
}

div .navbar {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 320px;
  margin-left: 30px;
  margin-top: 7px;
}


.nav-btns {
  display: inline-block;
}
