
.workout-details {
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  justify-content: space-between;
  display: grid;
  background-color: #efcca6;
  color: #422800;
  font-weight: 600;
  width: 1000px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.grid {
  display: grid;
  grid-template-columns: 130px 160px 190px 180px 250px;
  justify-content: center;
  text-align: start;
}

#created-at{
display: block;
margin: 0 0 10px 0;
color: #1a1a2e;
font-weight: 400;
font-size: 15px;
}

p {
  display: inline-block;
  margin: 0;
}


.delete-btn {
  position: absolute;
  right: 5%;
  bottom: 16%;
  cursor: pointer;
  height: 50px;
  width: 30px;
  color: #192A51;
}

.delete-btn:hover {
  color: rgb(235, 27, 27);
}
